body{
    background-color: aqua;
    overflow-y: hidden; 
    overflow-x: hidden;
    margin: 0;
    max-height: 100%;
}
#contenedor {
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
}
#comunicador {
    position: absolute;
    bottom: 200px;
    left: 200px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-15deg);
    font-family: 'Mogra', cursive;
    font-size: 20px;
}
.iniciarJuego{
    margin-bottom: 50px;
}
.choqueEnemigo{
    animation: choqueEnemigo 2s ease-in;
}

@keyframes choqueEnemigo {
    0%{
        font-size: 20px;
        transform: rotate(-15deg);

    }
    50%{
        font-size: 60px;
        transform: rotate(360deg);
    }
    100%{
        font-size: 20px;
        transform: rotate(-15deg);

    }
}
/*
--------------------------------------
EXPERIENCIA DE USUARIO
--------------------------------------
*/
.vida{
    position: absolute;
    width: 80px;
    height: 100px;
    top: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.438);
    background: url(img/vida/heart_animated_2.png) no-repeat;
    background-size: 400px 100px;
    background-position: 0px;
}
.puntaje{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.438);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    position: absolute;
    right: 50px;
    top: 50px;
}
/*
--------------------------------------
PANTALLA DE INICIO
--------------------------------------
*/
.inicio{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik Puddles', cursive;
    font-size: 50px;
}

/*
--------------------------------------
PANTALLA DE MANUAL DE JUEGO
--------------------------------------
*/
.manual{
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Rubik Puddles', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.manual h1{
    font-size: 80px;
    text-align: center;
    margin-bottom: 0px;
}
.manual div{
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}
.manual article {
    width: 300px;
    padding: 20px auto;
    height: 350px;
    border-radius: 5px;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.manual article span{
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
.manual article h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top: 0px;
}
.manual  .iniciarJuego {
    position: absolute;
    bottom: -30px;
}
/*
--------------------------------------
PANTALLA DE JUEGO TERMINADO
--------------------------------------
*/

.gameOver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.gameOver h1{
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive;
}
button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: aquamarine;
    font-size: 50px;
    color: rgb(23, 23, 23);
    cursor: pointer;
    transition: all 1s ease;
}
button:hover{
    background-color: rgb(23, 23, 23);
    color: aquamarine;
}
.gameOver p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.gameOver p span {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

/*
--------------------------------------
FONDO PARALLAX 
--------------------------------------
*/
.pasto{
    background: url("/img/fondo-parallax/0.png") repeat-x;
    bottom: 150px;
    height: 200px;
    z-index: 0;
    animation: moverFondo 30s linear infinite;
}
.piso{
    background: url("/img/fondo-parallax/1.png") repeat-x;
    bottom: 0px;
    height: 200px;
    z-index: 1;
    animation: moverFondo 20s linear infinite;
}
.colinas{
    background: url("/img/fondo-parallax/2.png") repeat-x;
    bottom: 200px;
    height: 300px;
    z-index: -1;
    animation: moverFondo 45s linear infinite;
}
.arbolesCercanos{
    background: url("/img/fondo-parallax/3.png") repeat-x;
    bottom: 200px;
    height: 430px;
    z-index: -1;
    animation: moverFondo 40s linear infinite;
}
.arbolesLejanos{
    background: url("/img/fondo-parallax/4.png") repeat-x;
    bottom: 300px;
    height: 500px;
    z-index: -3;
    animation: moverFondo 60s linear infinite;
}
.pasto, .piso, .colinas, .arbolesCercanos, .arbolesLejanos{
    background-size: 2500px 100%;
    position: absolute;
    width: 100%;
}
/*
--------------------------------------
PERSONAJES
--------------------------------------
*/

.pibe{
    position: absolute;
    bottom: 70px;
    left: 300px;
    width: 256px;
    height: 256px;
    background-image: url(/img/pj-principal/child.png);
    z-index: 2;
}
.enemigo {
    position: absolute;
    bottom: 50px;
    width: 304px;
    height: 246px;
    background: url(img/enemigos/terrestre1.png);
    z-index: 1;
}

.cofre{
    position: absolute;
    width: 200px;
    height: 180px;
    background: url(img/utils/cofre.png) no-repeat;
    background-position: center center;
    background-size: 100px 80px;
    z-index: 2;
    animation: moverCofre-X 4s linear, moverCofre-Y 4s linear;
}
@keyframes moverCofre-X {
    from {
        left: 100%;
    }
    to{
        left:-300px;
    }

}
@keyframes moverCofre-Y {
    0%{
        bottom: 90%;
    }
    20%{
        bottom: 40%;
    }
    40%{
        bottom: 90%;
    }
    60%{
        bottom: 40%;
    }
    80%{
        bottom: 90%;
    }
    100%{
        bottom: 40%;
    }

}

/*
--------------------------------------
CLASES CON ANIMACIONES
--------------------------------------
*/
.correr{
    animation: moverPibe 0.8s steps(6) infinite;
}

.saltar {
    animation: saltar 600ms cubic-bezier(0,0,.5,1) forwards; 
}

.caer {
    animation: caer 500ms cubic-bezier(0,0,.5,1) forwards;
}

/*
--------------------------------------
ANIMACIONES
--------------------------------------
*/

@keyframes enemigo {
    from {
      left: 100%;
    }
    to {
      left: -400px;
    }
}

@keyframes enemigoMorir {
    from{
        left: 300px;
    }
    to {
        left: 300px;
        bottom: -300px;
    }
}

@keyframes correrEnemigo {

    from{
        background-position: 5168px;
    }
    to{
        background-position: 0px;
    }
}

@keyframes moverPibe {
    from{
        background-position: 0px;
    }
    to{
        background-position: -1536px;
    }
}
@keyframes moverFondo {
    100% {
        background-position: -5000px
    }
}
@keyframes saltar {
    from {
        bottom: 70px;
    }
    to {
        bottom: 40%;
    }
}
@keyframes caer {
    from {
        bottom: 40%;
    }
    to {
        bottom: 70px;
    }
}
.desaparecer {
    display: none !important;
}