body{
    background-color: aquamarine;
    overflow-y: hidden; 
    overflow-x: hidden;
    margin: 0;
    max-height: 100%;
}
#contenedor {
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
}
#comunicador {
    position: absolute;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
--------------------------------------
EXPERIENCIA DE USUARIO
--------------------------------------
*/
.vida{
    position: absolute;
    width: 80px;
    height: 100px;
    top: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.438);
    background: url(img/vida/heart_animated_2.png) no-repeat;
    background-size: 400px 100px;
    background-position: 0px;
}
.puntaje{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.438);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    position: absolute;
    right: 50px;
    top: 50px;
}
/*
--------------------------------------
GAME OVER SECTION
--------------------------------------
*/

.gameOver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.gameOver h1{
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive;
}
.gameOver button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: aquamarine;
    font-size: 50px;
    color: rgb(23, 23, 23);
    cursor: pointer;
    transition: all 1s ease;
}
.gameOver button:hover{
    background-color: rgb(23, 23, 23);
    color: aquamarine;
}
.gameOver p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.gameOver p span {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

/*
--------------------------------------
FONDO PARALLAX 
--------------------------------------
*/
.pasto{
    background: url("/img/fondo-parallax/0.png") repeat-x;
    bottom: 150px;
    height: 200px;
    z-index: 0;
    animation: moverFondo 30s linear infinite;
}
.piso{
    background: url("/img/fondo-parallax/1.png") repeat-x;
    bottom: 0px;
    height: 200px;
    z-index: 1;
    animation: moverFondo 20s linear infinite;
}
.colinas{
    background: url("/img/fondo-parallax/2.png") repeat-x;
    bottom: 200px;
    height: 300px;
    z-index: -1;
    animation: moverFondo 45s linear infinite;
}
.arbolesCercanos{
    background: url("/img/fondo-parallax/3.png") repeat-x;
    bottom: 200px;
    height: 430px;
    z-index: -1;
    animation: moverFondo 40s linear infinite;
}
.arbolesLejanos{
    background: url("/img/fondo-parallax/4.png") repeat-x;
    bottom: 300px;
    height: 500px;
    z-index: -3;
    animation: moverFondo 60s linear infinite;
}
.pasto, .piso, .colinas, .arbolesCercanos, .arbolesLejanos{
    background-size: 2500px 100%;
    position: absolute;
    width: 100%;
}
/*
--------------------------------------
PERSONAJES
--------------------------------------
*/

.pibe{
    position: absolute;
    bottom: 70px;
    left: 300px;
    width: 256px;
    height: 256px;
    background-image: url(/img/pj-principal/child.png);
    z-index: 2;
}
.enemigo {
    position: absolute;
    bottom: 0px;
    width: 304px;
    height: 256px;
    background: url(img/enemigos/terrestre.png);
    animation: enemigo 2.5s forwards linear, correrEnemigo .5s steps(6) infinite;
    z-index: 1;
}

/*
--------------------------------------
CLASES CON ANIMACIONES
--------------------------------------
*/
.correr{
    animation: moverPibe 1s steps(6) infinite;
}

.saltar {
    animation: saltar 800ms cubic-bezier(0,0,.5,1) forwards; 
}

.caer {
    animation: caer 500ms cubic-bezier(0,0,.5,1) forwards;
}

/*
--------------------------------------
ANIMACIONES
--------------------------------------
*/

@keyframes enemigo {
    from {
      left: 100%;
    }
    to {
      left: -400px;
    }
}

@keyframes correrEnemigo {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1824px;
    }
}

@keyframes moverPibe {
    from{
        background-position: 0px;
    }
    to{
        background-position: -1536px;
    }
}
@keyframes moverFondo {
    100% {
        background-position: -5000px
    }
}
@keyframes saltar {
    from {
        bottom: 70px;
    }
    to {
        bottom: 40%;
    }
}
@keyframes caer {
    from {
        bottom: 40%;
    }
    to {
        bottom: 70px;
    }
}
.desaparecer {
    display: none;
}